{% extends "base.html" %}

{% block title %}About Us - NemuKerja{% endblock %}

{% block content %}
<div class="container about-us-container py-4 px-3">
    <img src="{{ url_for('static', filename='images/banner.png') }}" 
         style="height: 200px;max-width: 1500px;" 
         alt="About NemuKerja" 
         class="about-banner mb-4">
    <h2 class="mb-3" data-i18n="about_about_nemukerja_en">About Us</h2>
    <p class="about-desc mx-auto" data-i18n="about_description_1">
        NemuKerja is a modern job platform connecting companies and job seekers with an easy, responsive, and fast experience.
        Our mission is to simplify recruitment through technology and accessibility.
    </p>
</div>
{% endblock %}